.container {
    background-color: #1e272e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 35px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 600px;
    width: 300px;
}
h1{
    background-color: green;
}
button{
    background-color: green;
}
